@import "tailwindcss";
@import "./styles/colors.css";

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-primary: #FBBF24;
  --color-primary-hover: #F59E0B;
  --color-button-text: #3D2B0F;
}